/* Header.module.css */
.header {/* Фиксированная шапка, остаётся наверху */
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  z-index: 100;
  max-width: 1200px; /* Ограничение ширины */
}
.navContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem; /* расстояние между ссылками и кнопкой */
  margin: 0 auto; /* центрирование блока */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}
.burger {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}
.burgerLine {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0 auto; /* Центрирование ссылок */
  padding: 0;
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.navLinks li {
  cursor: pointer;
  transition: color 0.3s ease;
  color: #fff;
}

.navLinks li:hover {
  color: #f0d99d;
}

.startButton {
  padding: 0.8rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.startButton:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}
.navLinks {
  display: flex;
}

.navLinksOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #1a1a1a;
  width: 100%;
  padding: 1rem;
  transform: translateY(0);
  z-index: 99;
}

.navLinksOpen li {
  margin: 0.5rem 0;
  text-align: center;
}

.navLinksOpen .startButton {
  margin-top: 1rem;
  width: 100%; /* Кнопка занимает всю ширину */
}
.navOpen {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
}
.desktopOnly{
  display: none;
}

/* Media queries для адаптивности */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .burger {
    display: flex;
  }
  .header {
    padding: 0.5rem 4%;
  }
  .navLinks {
    gap: 1rem;
  }
  .navContainer {
    display: none;
  }
  .logo {
    font-size: 1.3rem;
  }
  .startButton {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }
  .navLinksOpen {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1a1a1a;
    width: 100%;
    padding: 1rem;
    z-index: 99;
  }

  .navLinksOpen li {
    margin: 0.5rem 0;
    text-align: center;
  }

  .startButton {
    display: none;
    margin-top: 1rem;
    width: 100%;
  }

}
