.successStorySection {
    width: 100%;
    background-color: #F5EFE0; /* Цвет фона, как на макете */
    padding: 3rem 1rem;
    color: #1A2942;
  }
  
  /* Общий контейнер для контента */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    color: #1A2942;
  }

  /* Заголовок "Key success indicators" */
  .keyTitle {
    font-size: 2rem;
    color: #1b1b1b;
    margin-bottom: 1.5rem;
  }
  
  /* Ряд из 3-х показателей */
  .indicatorsRow {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }
  
  /* Карточка-показатель */
  .indicatorBox {
    flex: 1 1 calc(33% - 1rem);
    border-radius: 20px;
    padding: 1.5rem;
    text-align: center;
    min-width: 220px;
    box-shadow: inset -1px -1px 2px 0 rgba(210, 206, 193, 0.5), inset 1px 1px 2px 0 rgba(255, 255, 255, 0.3), 5px 5px 13px 0 rgba(210, 206, 193, 0.9), -5px -5px 10px 0 rgba(255, 255, 255, 0.9), 5px -5px 10px 0 rgba(210, 206, 193, 0.2), -5px 5px 10px 0 rgba(210, 206, 193, 0.2);
    background: #f5efe0;
    transition: transform 0.3s ease;
  }
  
  .indicatorBox:hover {
    transform: translateY(-3px);
  }
  
  .indicatorBox h3 {
    font-weight: 500;
    font-size: 48px;
    color: #d5b03c;
  }
  
  .indicatorBox p {
    font-size: 1rem;
    color: #4f4f4f;
    line-height: 1.5;
    margin: 0;
  }
  
  @media (max-width: 1000px) {
    .testimonialContent{
      display: flex;
      flex-direction: column;
      width: 32.19rem;
    }
    .mainText{
      width:32rem;
    }
  }
  @media (max-width: 360px) {
    .keyTitle{
      font-size: 1.5rem;
    }
  }